{% load static %}
<!--the very homepage page on the web -->
<html>
  <link rel="stylesheet" href="{% static 'css/elijah.css' %}"></link>
  
<body>
  <style>
  </style>
  
  <div class="war",id="war_id",name="war-python and php">
    <p id="company" >elicom company</p><br>
<label id="label"> enter ur code name </label><br>
<form action="add" method="get">
    <input type="text" id="start" value="" required><br>
<input type="submit" id="sub" value="submit"><br><br>
<button type="button" id="but">clickme</button><br><br>
<nav id="nav">logged in</nav>
</form>
</div>
</body>
<head>
<script type="text/javascript" src="{% static 'js/elijah.js' %}"> </script>
</head>
</html>
