{% load static %}
<!doctype html>
meta>
<html charset="en" encoding="utf-8">
    <body >
        <style>
    @import url("{% static 'css/homepage.css' %}");
        </style>
        <h1>
fill in form

        </h1>
        <center>
        <form action="loginpage.html" name="" method="get">
            <fieldset>
                <legend>
                    <p> Register form</p>
                </legend>
            <label for="username"> enter ur username</label><br>
            <input type="text" value=""><br>
            <label for="email">enter ur email</label><br>
            <input type="email" value=""><br>
            <label for="password"> enter ur password</label><br>
            <input type="password" value><br>
            <label for="password2"> confirm ur password2</label><br>
        <input type="password" value=""><br><br>

            <label>birth date</label><br>
            <input type="date"><br>

        <div class="check-b">female<input type="checkbox">
            male<input type="checkbox"></div><br>
            <input type="submit" value="signup" id="sub">
            </fieldset>
            </form>
            <a href="https://www.youtube.com/">youtube</a>
            <a href="#">google</a>
            <a href="">yahoo</a>
            <a href="">amazon</a>
            </center>
        </body>
</html>
